/* enquire.html starts */
#enquire_intro h1 {
    text-align: center;
    padding: 1em auto;
    margin-top: 1em;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 3px;
}

#enquire_intro p {
    text-align: center;
    margin: 1em auto;
    width: 54vw;
    max-width: 620px;
    font-family: serif;
    font-size: large;
}

#red_line {
    height: 1.5px;
    border-radius: 45px;
    width: 60px;
    background-color: red;
    margin: 0 auto;
}

form,
#enhance_content {
    /* border: 1px solid red; */
    width: 80vw;
    max-width: 840px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0px 20px 30px 20px;
}

fieldset {
    margin: 40px 0;
    padding: 10px;
    border: 0;
}

legend {
    font-weight: bolder;
    letter-spacing: 1.2px;
    padding-bottom: 10px;
}

.form_line {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: space-between;
}

.form_box {
    width: calc(50% - 20px);
}

.main_label {
    font-size: x-small;
    letter-spacing: 2.5px;
    font-weight: bolder;
}

.main_label::after {
    content: "*";
    color: red;
}

.form_box input[type='text'],
.form_box input[type='email'],
.form_box select {
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 60px;
    font-size: large;
    font-family: serif;
    font-weight: lighter;
}

.form_box input[type='text'],
.form_box input[type='email'],
.form_box select:focus {
    outline: none;
}

#radio_box {
    height: 60px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#radio_box::before {
    content: "";
}

#radio_box::after {
    content: "";
}

#radio_box label {
    font-family: serif;
}

#checkbox_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: large;
    padding: 0 20px;
    flex-wrap: wrap;
}

#checkbox_box label {
    font-family: serif;
}

#comment_label {
    font-size: x-small;
    letter-spacing: 1px;
    font-weight: bolder;
}

#comment_line {
    display: flex;
    align-items: top;
}

textarea {
    width: 100%;
    height: 120px;
    font-family: serif;
    font-size: large;
    margin: 10px 0 0 0;
    border: 1px solid lightgray;
}

#button_container {
    justify-content: center;
    display: flex;
    height: 150px;
}

.form_button {
    margin: 15px 15px 15vh 15px;
    width: 200px;
    height: 40px;
    letter-spacing: 2.5px;
    font-weight: bolder;
    font-size: smaller;
    color: white;
    background-color: var(--nav-background);
    border: none;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
}

.form_button::after {
    content: "";
    background: var(--nav-active);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 430ms ease-in;
}

.form_button:hover::after {
    transform: scaleX(1);
}

.error {
    color: #af4242;
    background-color: #fde8ec;
    padding: 10px;
    font-family: serif;
    margin: 10px 2px;
    font-size: medium;
    display: none;
}

/* enquire.html ends */

/* enquire's responsive starts*/
@media (max-width: 740px) {
    .form_box {
        width: 100%;
        margin: 15px 0;
    }

    .form_line {
        padding: 0 0;
    }
}
/* enquire's responsive ends*/