/* The header section starts */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: var(--nav-background);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: sticky;
    top: 0;
}

.logo {
    display: block;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    font-size: 160%;
    letter-spacing: 3px;
    font-family: Montserrat;
}

header nav {
    color: white;
}

/* nav_bar = header nav ul */
#nav_bar {
    display: flex;
    justify-content: space-between;
    float: right;
}

#nav_bar li {
    list-style: none;
    margin-left: 30px;
}

#nav_bar li:first-of-type {
    margin-left: 0;
}

#nav_bar li a {
    text-decoration: none;
    color: white;
    position: relative;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Montserrat;
}

#nav_bar li a:hover {
    color: var(--nav-active);
    transition: 0.4s;
}

#nav_bar .active {
    color: var(--nav-active);
}

#nav_bar a::after {
    content: "";
    background-color: white;
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    border-radius: 25px;
    transition: 0.4s;
}

#nav_bar .active::after {
    background-color: var(--nav-active);
}

#nav_bar a:hover:after {
    width: 100%;
    background-color: var(--nav-active);
}

/* The header section ends */


/* Header's responsive starts */
@media (max-width: 740px) {
    header {
        background-color: var(--nav-background);
        height: 50px;
        padding: 15% 22%;
    }

    nav {
        position: sticky;
    }

    nav ul li {
        display: block;
        font-size: 2em;
        margin-left: 0px;
        width: 100%;
        padding: 3%;
    }

    #nav_bar li {
        margin: 0;
    }

    #nav_bar {
        display: block;
        margin-left: 0;
    }

    #menu-button {
        display: block;
        height: 30%;
    }

    .logo {
        font-size: 4em;
        padding: 8% 20% 8% 20%;
        float: left;
        border: 0;
    }

    #div-container {
        display: block;
        cursor: pointer;
    }

    ul {
        position: fixed;
        top: 45px;
        left: -100%;
        position: fixed;
        margin-top: 20%;
        width: 100%;
        height: 100%;
        background: var(--nav-background);
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* Header's responsive ends*/

/* Hidden elements starts */
#check {
    display: none;
}

#div-container {
    display: none;
    position: relative;
    left: -500px;
}

.menu-button {
    display: block;
    width: 35px;
    height: 6px;
    background-color: white;
    margin: 7px 0;
    border-radius: 20%;
}
/* Hidden elements ends */