/* The banner section starts */
#banner {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top -80px right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #banner h1 {
    /* color: #1A001A; */ 
    color: whitesmoke;
  }
  
  #banner h2 {
    /* color: #1A001A; */
    color: whitesmoke;
  }
  
  #banner h4 {
    padding-bottom: 15px;
    /* color: white; */
    color: #1A001A;
  }
  
  #banner button {
    display: inline-block;
    padding: 14.4px 24px;
    letter-spacing: 1.5px;
    border-radius: var(--border-radius);
    color: #1A001A;
    background: none;
    border: 3.2px solid #000;
    cursor: pointer;
    margin-top: 16px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
  }
  
  #banner button:hover {
    opacity: 0.7;
    transition: 0.4s ease-out;
  }
  
  /* The banner section ends  */
  
  /* The component section starts  */
  #component {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #component .co-box {
    width: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccd7e0;
    border-radius: 4px;
    margin: 15px 0;
  }
  
  #component .co-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 63, 222, 0.2);
    transition: 0.6s ease-out;
    cursor: pointer;
    /* width: 30%;
    height: 10%; */
  }
  
  #component .co-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    /* color: #1A001A; */
    color: #b8c0e4;
    /* background-color: #b8c0e4; */
    background-color: #1A001A;
    /* display: inline-block; */
    font-size: 18px;
  }
  
  #component .co-box img {
    border-radius: 10%;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* The component section ends  */
  
  /* The about us section starts */
  #about-us {
    text-align: center;
    color: #1A001A;
    padding: 40px;
  }
  
  #history {
    background-color: #ccd7e0;
    padding: 50px;
    margin-right: 30%;
    border-radius: 20px;
    line-height: 25px;
    width: 70%;
    position: relative;
    display: inline-block;
  }
  
  #history h2 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  
  
  #title_product {
    padding-bottom: 50px;
  }
  
  #history p {
    font-size: 19px;
    text-align: left;
  }
  
  #history li {
    list-style: circle;
    text-align: left;
    font-size: 19px;
  }
  
  #about-us aside {
    text-align: center;
    color: #c9c9c9;
    width: 25%;
    padding: 10px 12px;
    margin: 0 1px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    float: right;
    position: absolute;
    right: 0;
    display: inline;
    background-color: #100C08;
    vertical-align: top;
  }
  
  
  #about-us aside img {
    width: 100%;
  }
  
  #about-us aside span {
    padding-bottom: 8px;
  }
  
  #about-us aside h2 {
    color: #b9b9b9;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 7px;
  }
  
  #about-us aside h5 {
    padding-bottom: 6px;
  }
  
  #about-us aside button {
    display: inline-block;
    padding: 8px 10px;
    border-radius: var(--border-radius);
    background: none;
    border: 3.2px solid #bfb0b0;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #bfb0b0;
  }
  
  #about-us aside button:hover {
    opacity: 0.8;
  }
  
  
  /* The about us section ends */
  
  /* The product section starts */
  #product {
    /* padding: 40px 80px; */
    text-align: center;
    color: #1A001A;
  }
  
  #product .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  #product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.4s ease-in-out;
    /* background-color: #b8c0e4; */
    background-color: #1A001A;
    opacity: 0.9;
  }
  
  #product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  }
  
  #product .pro img {
    width: 100%;
  }
  
  #product .pro .des {
    text-align: center;
    padding: 10px 0;
  }
  
  #product .pro .des span {
    color: #606063;
    font-size: 14px;
  }
  
  #product .pro .des h5 {
    padding-top: 7px;
    /* color: #1A001A; */
    color: #b8c0e4;
    font-size: 12px;
  }
  
  #product .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    /* color: var(--main-color); */
    color: white;
    font-weight: 700;
  }
  
  .type {
    color: white;
    background-color: #1A001A;
    border: none;
  }
  
  #detail {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
  }
  
  #detail tr th {
    background-color: #100C08;
    color: #ffffff;
    text-align: left;
  }
  
  #detail th,
  #detail td {
    padding: 12px 15px;
  }
  
  #detail tr td {
    border-bottom: 1px solid #dddddd;
  }
  
  #detail tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  #detail tr:last-of-type {
    border-bottom: 2px solid #100C08;
  }
  
  #detail tr td.active-row {
    font-weight: bold;
    color: #100C08;
  }
  
  /* The product section ends */
  
  
  /* The title of sm-banner starts */
  #title-banner {
    padding: 40px 80px;
    text-align: center;
    color: #1A001A;
  }
  
  /* The title of sm-banner ends */
  
  /* The small banner section starts */
  #sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 50px;
  }
  
  #sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/sm-banner1.jpeg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
  }
  
  #sm-banner .banner-box2 {
    background-image: url("images/sm-banner2.jpeg");
  }
  
  #sm-banner h4 {
    color: #755a3f;
    font-size: 30px;
    font-weight: 800;
  }
  
  #sm-banner .banner-box2 h4 {
    color: #4c3429;
    /* color: #1A001A; */
  }
  
  #sm-banner p {
    color: #755a3f;
    font-size: 20px;
    font-weight: 800;
  }
  
  #sm-banner .banner-box2 p {
    color: #4c3429;
    /* color: #1A001A; */
  }
  
  
  
  #sm-banner button {
    display: inline-block;
    padding: 8px 10px;
    border-radius: var(--border-radius);
    color: #755a3f;
    background: none;
    border: 3.2px solid #755a3f;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px
  }
  
  #sm-banner .banner-box2 button {
    color: #4c3429;
    border: 3.2px solid #4c3429;
    /* color: #1A001A;
    border: 3.2px solid #1A001A; */
  }
  
  #sm-banner button:hover {
    opacity: 0.5;
    transition: 0.4s ease-out;
  }
  
  /* The small banner section ends */
  
  /* Start the media query */
  @media (max-width: 740px) {
  
    /* The banner section starts */
    #banner {
        background-repeat: no-repeat;
        background-position: top -80px left 0;
    }
  
    #banner h4 {
        font-size: 25px;
        padding: 0 0 2px 0;
    }
  
    #banner h2 {
        font-size: 35px;
        padding: 0 0 2px 0;
    }
  
    #banner h1 {
        font-size: 34px;
        padding: 0 0 2px 0;
    }
  
    /* The banner section ends */
  
  
    /* The component section starts */
    #component .co-box {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
  
    /* The component section ends */
  
    /* The about us section starts  */
    #about-us {
        padding: 40px 80px 485px 80px;
        text-align: center;
        color: #1A001A;
    
    }
    
    #history {
        width: 100%;
        margin-bottom: 30px;
    }
  
    #title h2 {
        margin-left: auto;
        margin-right: auto;
    }
  
    #title p {
        margin-left: auto;
        margin-right: auto;
    }
  
    #limited {
        position: absolute;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        
        
    }
  
    /* The about us section ends  */
  
    /* The small banner section starts  */
    #sm-banner .banner-box {
        min-width: 590px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 90px;
    }
  
    #sm-banner .banner-box2 {
        margin-top: 30px;
    }
  
    /* The small banner section ends  */
  
    #detail {
        margin-left: -30px;
    }
  }
  /* End the media query */
  
  /* The product section ends */